<script defer src="/static/scripts/products.js"></script>
{{> navbar}}
<main>
  {{#if user.admin}}
  <p> <a href="/products/add">Agrega un producto</a></p>
  {{/if}}
  <section>
      <h3>Productos</h3>
      <ul id="productList" class="product-list">
        {{#if products.length}}
          {{#each products}}
            <li class="product-card">
              <div class="image">
                <img src={{photo_url}} alt='foto de {{name}}'/>
              </div>
              <div class="card-details">
                <span class="code">#{{code}}</span>
                <h2 class="name">{{name}}</h2>
                <span>{{description}}</span>
                <div class="stock-details">
                  <p class="price">${{price}}</p>
                </div>
                <span class="add-product-btn" onclick=addProductToCart('{{id}}','{{../user.id}}')>
                  Añadir
                </span>
                {{#if ../user.admin}}
                <div class="admin-actions">
                  <a href='/products/update?id={{id}}'>
                    <button>Actualizar</button>
                  </a>
                  <button onclick=deleteProduct('{{id}}')>Eliminar</button>
                </div>
                {{/if}}
              </div>
            </li>
          {{/each}}
          {{else}}
            <li>
              <h3>No hay productos para mostrar.</h3>
            </li>
        {{/if}}
      </ul>
    </section>
</main>